# Necessary Comment : jupyter notebook

## Necessary Lighbary

In [1]:
import sqlite3
import pandas as pd
import talib
import mplfinance as mpf
import numpy as np

## Database Connection

In [2]:
connection = sqlite3.connect(r"cripto.db")
# connection = sqlite3.connect(r"big_data.db")
cur = connection.cursor()
database_data = cur.execute("select * from asset order by CloseTime").fetchall()

## Dataframe

In [3]:
df = pd.DataFrame(database_data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,422,BTCBUSD,16841.25,16842.68,16840.44,16841.23,22.19256,-0.00011875603058227,1.671786e+12,3.737574e+05,1012.0,12.17745,1671785460
1,1259,BTCBUSD,16780.86,16782.84,16780.13,16780.84,16.05611,-0.000119183402998634,1.671836e+12,2.694465e+05,959.0,10.11766,1671835680
2,989,BTCBUSD,16842.63,16843.59,16840.26,16842.60,31.72397,-0.000178119450480559,1.671820e+12,5.342920e+05,1397.0,15.68889,1671819480
3,309,BTCBUSD,16842.11,16842.97,16841.06,16842.08,17.23217,-0.000178124949895446,1.671779e+12,2.902238e+05,647.0,11.53437,1671778680
4,1393,BTCBUSD,16806.81,16808.76,16806.15,16806.78,12.86098,-0.000178499072712037,1.671844e+12,2.161559e+05,800.0,6.94100,1671843720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,709,BTCBUSD,16821.17,16849.04,16816.46,16849.03,281.49546,0.16562462658662,1.671803e+12,4.737096e+06,5075.0,153.89067,1671802680
1436,710,BTCBUSD,16849.01,16905.74,16846.50,16886.84,721.90139,0.224523577349659,1.671803e+12,1.218545e+07,11123.0,386.32321,1671802740
1437,701,BTCBUSD,16835.04,16955.00,16735.00,16941.00,2102.18665,0.629401533943484,1.671802e+12,3.535400e+07,27033.0,1026.64409,1671802200
1438,341,BTCBUSD,16849.31,16851.63,16848.30,16849.32,15.59350,5.93496113395699e-05,1.671781e+12,2.627447e+05,898.0,6.70223,1671780600
1439,436,BTCBUSD,16838.88,16840.62,16837.08,16838.89,29.65812,5.93863724808259e-05,1.671786e+12,4.994134e+05,1097.0,13.95054,1671786300

## Name Columns

In [4]:
df.columns = ['Id', 'Symbol', 'Open', 'High', 'Low', 'Close', 'VolumeBTC', 'Change', 'CloseTime','VolumeBUSD', 'Trades', 'BuyQuoteVolume', 'Time']
# df = df.iloc[:, 2:12]
df

,Id,Symbol,Open,High,Low,Close,VolumeBTC,Change,CloseTime,VolumeBUSD,Trades,BuyQuoteVolume,Time
0,422,BTCBUSD,16841.25,16842.68,16840.44,16841.23,22.19256,-0.00011875603058227,1.671786e+12,3.737574e+05,1012.0,12.17745,1671785460
1,1259,BTCBUSD,16780.86,16782.84,16780.13,16780.84,16.05611,-0.000119183402998634,1.671836e+12,2.694465e+05,959.0,10.11766,1671835680
2,989,BTCBUSD,16842.63,16843.59,16840.26,16842.60,31.72397,-0.000178119450480559,1.671820e+12,5.342920e+05,1397.0,15.68889,1671819480
3,309,BTCBUSD,16842.11,16842.97,16841.06,16842.08,17.23217,-0.000178124949895446,1.671779e+12,2.902238e+05,647.0,11.53437,1671778680
4,1393,BTCBUSD,16806.81,16808.76,16806.15,16806.78,12.86098,-0.000178499072712037,1.671844e+12,2.161559e+05,800.0,6.94100,1671843720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,709,BTCBUSD,16821.17,16849.04,16816.46,16849.03,281.49546,0.16562462658662,1.671803e+12,4.737096e+06,5075.0,153.89067,1671802680
1436,710,BTCBUSD,16849.01,16905.74,16846.50,16886.84,721.90139,0.224523577349659,1.671803e+12,1.218545e+07,11123.0,386.32321,1671802740
1437,701,BTCBUSD,16835.04,16955.00,16735.00,16941.00,2102.18665,0.629401533943484,1.671802e+12,3.535400e+07,27033.0,1026.64409,1671802200
1438,341,BTCBUSD,16849.31,16851.63,16848.30,16849.32,15.59350,5.93496113395699e-05,1.671781e+12,2.627447e+05,898.0,6.70223,1671780600
1439,436,BTCBUSD,16838.88,16840.62,16837.08,16838.89,29.65812,5.93863724808259e-05,1.671786e+12,4.994134e+05,1097.0,13.95054,1671786300

# Make a Candle plot

In [5]:
# """
# Candle Data Column
# """
# df_candle = df[['CloseTime', 'Open', 'High', 'Low', 'Close', 'VolumeBTC']]

# """
# Time Indexing
# """
# df_candle = df.set_index('CloseTime')
# df_candle.index = pd.to_datetime(df.index, unit='ms')

# mpf.plot(
#     df_candle.tail(100),
# #     df,
#     mav=[7, 25 , 90],
#     type="candle",
# #     type="renko",
#     title=f"BTC BUSD Price Candle",
#     style="yahoo",
# )

In [6]:
df = df.set_index('CloseTime')
df.index = pd.to_datetime(df.index, unit='ms')
# df = df.tail(100)
df

,Id,Symbol,Open,High,Low,Close,VolumeBTC,Change,VolumeBUSD,Trades,BuyQuoteVolume,Time
CloseTime,,,,,,,,,,,,
2022-12-23 08:51:59.999000064,422,BTCBUSD,16841.25,16842.68,16840.44,16841.23,22.19256,-0.00011875603058227,3.737574e+05,1012.0,12.17745,1671785460
2022-12-23 22:48:59.999000064,1259,BTCBUSD,16780.86,16782.84,16780.13,16780.84,16.05611,-0.000119183402998634,2.694465e+05,959.0,10.11766,1671835680
2022-12-23 18:18:59.999000064,989,BTCBUSD,16842.63,16843.59,16840.26,16842.60,31.72397,-0.000178119450480559,5.342920e+05,1397.0,15.68889,1671819480
2022-12-23 06:58:59.999000064,309,BTCBUSD,16842.11,16842.97,16841.06,16842.08,17.23217,-0.000178124949895446,2.902238e+05,647.0,11.53437,1671778680
2022-12-24 01:02:59.999000064,1393,BTCBUSD,16806.81,16808.76,16806.15,16806.78,12.86098,-0.000178499072712037,2.161559e+05,800.0,6.94100,1671843720
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23 13:38:59.999000064,709,BTCBUSD,16821.17,16849.04,16816.46,16849.03,281.49546,0.16562462658662,4.737096e+06,5075.0,153.89067,1671802680
2022-12-23 13:39:59.999000064,710,BTCBUSD,16849.01,16905.74,16846.50,16886.84,721.90139,0.224523577349659,1.218545e+07,11123.0,386.32321,1671802740
2022-12-23 13:30:59.999000064,701,BTCBUSD,16835.04,16955.00,16735.00,16941.00,2102.18665,0.629401533943484,3.535400e+07,27033.0,1026.64409,1671802200
2022-12-23 07:30:59.999000064,341,BTCBUSD,16849.31,16851.63,16848.30,16849.32,15.59350,5.93496113395699e-05,2.627447e+05,898.0,6.70223,1671780600
2022-12-23 09:05:59.999000064,436,BTCBUSD,16838.88,16840.62,16837.08,16838.89,29.65812,5.93863724808259e-05,4.994134e+05,1097.0,13.95054,1671786300

In [7]:
# from dataframe import GetDataframe
# df = GetDataframe().data_function('BTCBUSD', 1, 10000)
# df

# Super Trend

https://medium.com/codex/step-by-step-implementation-of-the-supertrend-indicator-in-python-656aa678c111

In [8]:
# df = df.iloc[:, 2:7]
# df.rename(columns={'VolumeBTC': 'volume'}, inplace=True)
# df.index = df.index.rename('datetime')
# df = df.applymap(lambda s:s.lower() if isinstance(s, str) else s)
# tsla = df
# tsla['High']

In [11]:
# def get_supertrend(high, low, close, lookback, multiplier):
#
#     # ATR
#
#     tr1 = pd.DataFrame(high - low)
#     tr2 = pd.DataFrame(abs(high - close.shift(1)))
#     tr3 = pd.DataFrame(abs(low - close.shift(1)))
#     frames = [tr1, tr2, tr3]
#     tr = pd.concat(frames, axis = 1, join = 'inner').max(axis = 1)
#     atr = tr.ewm(lookback).mean()
#
#     # H/L AVG AND BASIC UPPER & LOWER BAND
#
#     hl_avg = (high + low) / 2
#     upper_band = (hl_avg + multiplier * atr).dropna()
#     lower_band = (hl_avg - multiplier * atr).dropna()
#
#     # FINAL UPPER BAND
#     final_bands = pd.DataFrame(columns = ['upper', 'lower'])
#     final_bands.iloc[:,0] = [x for x in upper_band - upper_band]
#     final_bands.iloc[:,1] = final_bands.iloc[:,0]
#     for i in range(len(final_bands)):
#         if i == 0:
#             final_bands.iloc[i,0] = 0
#         else:
#             if (upper_band[i] < final_bands.iloc[i-1,0]) | (close[i-1] > final_bands.iloc[i-1,0]):
#                 final_bands.iloc[i,0] = upper_band[i]
#             else:
#                 final_bands.iloc[i,0] = final_bands.iloc[i-1,0]
#
#     # FINAL LOWER BAND
#
#     for i in range(len(final_bands)):
#         if i == 0:
#             final_bands.iloc[i, 1] = 0
#         else:
#             if (lower_band[i] > final_bands.iloc[i-1,1]) | (close[i-1] < final_bands.iloc[i-1,1]):
#                 final_bands.iloc[i,1] = lower_band[i]
#             else:
#                 final_bands.iloc[i,1] = final_bands.iloc[i-1,1]
#
#     # SUPERTREND
#
#     supertrend = pd.DataFrame(columns = [f'supertrend_{lookback}'])
#     supertrend.iloc[:,0] = [x for x in final_bands['upper'] - final_bands['upper']]
#
#     for i in range(len(supertrend)):
#         if i == 0:
#             supertrend.iloc[i, 0] = 0
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 0] and close[i] < final_bands.iloc[i, 0]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 0]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 0] and close[i] > final_bands.iloc[i, 0]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 1]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 1] and close[i] > final_bands.iloc[i, 1]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 1]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 1] and close[i] < final_bands.iloc[i, 1]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 0]
#
#     supertrend = supertrend.set_index(upper_band.index)
#     supertrend = supertrend.dropna()[1:]
#
#     # ST UPTREND/DOWNTREND
#
#     upt = []
#     dt = []
#     close = close.iloc[len(close) - len(supertrend):]
#
#     for i in range(len(supertrend)):
#         if close[i] > supertrend.iloc[i, 0]:
#             upt.append(supertrend.iloc[i, 0])
#             dt.append(np.nan)
#         elif close[i] < supertrend.iloc[i, 0]:
#             upt.append(np.nan)
#             dt.append(supertrend.iloc[i, 0])
#         else:
#             upt.append(np.nan)
#             dt.append(np.nan)
#
#     st, upt, dt = pd.Series(supertrend.iloc[:, 0]), pd.Series(upt), pd.Series(dt)
#     upt.index, dt.index = supertrend.index, supertrend.index
#
#     return st, upt, dt
#
# df['st'] = get_supertrend(df['High'], df['Low'], df['Close'], 1000, 3)

In [12]:
# # SUPERTREND CALCULATION
# def get_supertrend(high, low, close, lookback, multiplier):

#     # ATR

#     tr1 = pd.DataFrame(high - low)
#     tr2 = pd.DataFrame(abs(high - close.shift(1)))
#     tr3 = pd.DataFrame(abs(low - close.shift(1)))
#     frames = [tr1, tr2, tr3]
#     tr = pd.concat(frames, axis = 1, join = 'inner').max(axis = 1)
#     atr = tr.ewm(lookback).mean()

#     # H/L AVG AND BASIC UPPER & LOWER BAND

#     hl_avg = (high + low) / 2
#     upper_band = (hl_avg + multiplier * atr).dropna()
#     lower_band = (hl_avg - multiplier * atr).dropna()

#     # FINAL UPPER BAND

#     final_bands = pd.DataFrame(columns = ['upper', 'lower'])
#     final_bands.iloc[:,0] = [x for x in upper_band - upper_band]
#     final_bands.iloc[:,1] = final_bands.iloc[:,0]

#     for i in range(len(final_bands)):
#         if i == 0:
#             final_bands.iloc[i,0] = 0
#         else:
#             if (upper_band[i] < final_bands.iloc[i-1,0]) | (close[i-1] > final_bands.iloc[i-1,0]):
#                 final_bands.iloc[i,0] = upper_band[i]
#             else:
#                 final_bands.iloc[i,0] = final_bands.iloc[i-1,0]

#     # FINAL LOWER BAND

#     for i in range(len(final_bands)):
#         if i == 0:
#             final_bands.iloc[i, 1] = 0
#         else:
#             if (lower_band[i] > final_bands.iloc[i-1,1]) | (close[i-1] < final_bands.iloc[i-1,1]):
#                 final_bands.iloc[i,1] = lower_band[i]
#             else:
#                 final_bands.iloc[i,1] = final_bands.iloc[i-1,1]

#     # SUPERTREND

#     supertrend = pd.DataFrame(columns = [f'supertrend_{lookback}'])
#     supertrend.iloc[:,0] = [x for x in final_bands['upper'] - final_bands['upper']]

#     for i in range(len(supertrend)):
#         if i == 0:
#             supertrend.iloc[i, 0] = 0
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 0] and close[i] < final_bands.iloc[i, 0]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 0]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 0] and close[i] > final_bands.iloc[i, 0]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 1]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 1] and close[i] > final_bands.iloc[i, 1]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 1]
#         elif supertrend.iloc[i-1, 0] == final_bands.iloc[i-1, 1] and close[i] < final_bands.iloc[i, 1]:
#             supertrend.iloc[i, 0] = final_bands.iloc[i, 0]

#     supertrend = supertrend.set_index(upper_band.index)
#     supertrend = supertrend.dropna()[1:]

#     # ST UPTREND/DOWNTREND

#     upt = []
#     dt = []
#     close = close.iloc[len(close) - len(supertrend):]

#     for i in range(len(supertrend)):
#         if close[i] > supertrend.iloc[i, 0]:
#             upt.append(supertrend.iloc[i, 0])
#             dt.append(np.nan)
#         elif close[i] < supertrend.iloc[i, 0]:
#             upt.append(np.nan)
#             dt.append(supertrend.iloc[i, 0])
#         else:
#             upt.append(np.nan)
#             dt.append(np.nan)

#     st, upt, dt = pd.Series(supertrend.iloc[:, 0]), pd.Series(upt), pd.Series(dt)
#     upt.index, dt.index = supertrend.index, supertrend.index

#     return st, upt, dt

# tsla['st'], tsla['s_upt'], tsla['st_dt'] = get_supertrend(tsla['High'], tsla['Low'], tsla['Close'], 10, 3)
# tsla = tsla[1:]
# print(tsla.head())

# # SUPERTREND STRATEGY

# def implement_st_strategy(prices, st):
#     buy_price = []
#     sell_price = []
#     st_signal = []
#     signal = 0

#     for i in range(len(st)):
#         if st[i-1] > prices[i-1] and st[i] < prices[i]:
#             if signal != 1:
#                 buy_price.append(prices[i])
#                 sell_price.append(np.nan)
#                 signal = 1
#                 st_signal.append(signal)
#             else:
#                 buy_price.append(np.nan)
#                 sell_price.append(np.nan)
#                 st_signal.append(0)
#         elif st[i-1] < prices[i-1] and st[i] > prices[i]:
#             if signal != -1:
#                 buy_price.append(np.nan)
#                 sell_price.append(prices[i])
#                 signal = -1
#                 st_signal.append(signal)
#             else:
#                 buy_price.append(np.nan)
#                 sell_price.append(np.nan)
#                 st_signal.append(0)
#         else:
#             buy_price.append(np.nan)
#             sell_price.append(np.nan)
#             st_signal.append(0)

#     return buy_price, sell_price, st_signal

# buy_price, sell_price, st_signal = implement_st_strategy(tsla['Close'], tsla['st'])

# # GENERATING STOCK POSITION
# position = []
# for i in range(len(st_signal)):
#     if st_signal[i] > 1:
#         position.append(0)
#     else:
#         position.append(1)

# for i in range(len(tsla['Close'])):
#     if st_signal[i] == 1:
#         position[i] = 1
#     elif st_signal[i] == -1:
#         position[i] = 0
#     else:
#         position[i] = position[i-1]

# close_price = tsla['Close']
# st = tsla['st']
# st_signal = pd.DataFrame(st_signal).rename(columns = {0:'st_signal'}).set_index(tsla.index)
# position = pd.DataFrame(position).rename(columns = {0:'st_position'}).set_index(tsla.index)

# frames = [close_price, st, st_signal, position]
# strategy = pd.concat(frames, join = 'inner', axis = 1)

# strategy.head()
# print(strategy[20:25])

/var/folders/hp/265srph925n8mbmg8mlh2y300000gn/T/ipykernel_37054/2242217496.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  final_bands.iloc[:,1] = final_bands.iloc[:,0]

                                   Open      High       Low     Close  \
datetime
2022-12-23 22:48:59.999000064  16780.86  16782.84  16780.13  16780.84
2022-12-23 18:18:59.999000064  16842.63  16843.59  16840.26  16842.60
2022-12-23 06:58:59.999000064  16842.11  16842.97  16841.06  16842.08
2022-12-24 01:02:59.999000064  16806.81  16808.76  16806.15  16806.78
2022-12-23 13:18:59.999000064  16873.77  16876.81  16868.91  16873.73

                                 volume            st  s_upt         st_dt
datetime
2022-12-23 22:48:59.999000064  16.05611  16880.699286    NaN  16880.699286
2022-12-23 18:18:59.999000064  31.72397  16880.699286    NaN  16880.699286
2022-12-23 06:58:59.999000064  17.23217  16880.699286    NaN  16880.699286
2022-12-24 01:02:59.999000064  12.86098  16880.699286    NaN  16880.699286
2022-12-23 13:18:59.999000064  70.51319  16880.699286    NaN  16880.699286
                                  Close            st  st_signal  st_position
datetime
2022-12-23 11:33:59.999000064  16845.03  16869.345613          0            0
2022-12-23 05:54:59.999000064  16832.35  16869.345613          0            0
2022-12-23 16:27:59.999000064  16828.90  16869.345613          0            0
2022-12-23 13:22:59.999000064  16865.36  16869.345613          0            0
2022-12-23 17:39:59.999000064  16845.60  16869.345613          0            0

# Make a Custom Pattern

In [9]:
# # TODO: ALL all 100 and -100 to the X asis
# # Find Candle Pattern
ENGULFING = talib.CDLENGULFING(df['Open'], df['High'], df['Low'],
                                         df['Close'])
ENGULFING
ENGULFING[ENGULFING != 0]

# bullish_engulfing = (ENGULFING.replace([-100, 0], np.nan)/100) *(df.Low-2)
# bearsh_engulfing = (-ENGULFING.replace([100, 0], np.nan)/100) *(df.High *1.0001)

# addplot = [mpf.make_addplot(bullish_engulfing, type='scatter', color='g', marker = "^"), mpf.make_addplot(bearsh_engulfing, type='scatter', color='r', marker = "v")]
# mpf.plot(df, addplot = addplot,title=f"Engulfing Signal", type="candle",style="yahoo")

Series([], dtype: int32)

In [10]:
# dir(talib)

In [11]:
"""
means you are dropping duplicket column.
https://stackoverflow.com/questions/35084071/concat-dataframe-reindexing-only-valid-with-uniquely-valued-index-objects

"""
# df = df.head(100)
df = df.reset_index(drop=True)
df

,Id,Symbol,Open,High,Low,Close,VolumeBTC,Change,VolumeBUSD,Trades,BuyQuoteVolume,Time
0,422,BTCBUSD,16841.25,16842.68,16840.44,16841.23,22.19256,-0.00011875603058227,3.737574e+05,1012.0,12.17745,1671785460
1,1259,BTCBUSD,16780.86,16782.84,16780.13,16780.84,16.05611,-0.000119183402998634,2.694465e+05,959.0,10.11766,1671835680
2,989,BTCBUSD,16842.63,16843.59,16840.26,16842.60,31.72397,-0.000178119450480559,5.342920e+05,1397.0,15.68889,1671819480
3,309,BTCBUSD,16842.11,16842.97,16841.06,16842.08,17.23217,-0.000178124949895446,2.902238e+05,647.0,11.53437,1671778680
4,1393,BTCBUSD,16806.81,16808.76,16806.15,16806.78,12.86098,-0.000178499072712037,2.161559e+05,800.0,6.94100,1671843720
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,709,BTCBUSD,16821.17,16849.04,16816.46,16849.03,281.49546,0.16562462658662,4.737096e+06,5075.0,153.89067,1671802680
1436,710,BTCBUSD,16849.01,16905.74,16846.50,16886.84,721.90139,0.224523577349659,1.218545e+07,11123.0,386.32321,1671802740
1437,701,BTCBUSD,16835.04,16955.00,16735.00,16941.00,2102.18665,0.629401533943484,3.535400e+07,27033.0,1026.64409,1671802200
1438,341,BTCBUSD,16849.31,16851.63,16848.30,16849.32,15.59350,5.93496113395699e-05,2.627447e+05,898.0,6.70223,1671780600
1439,436,BTCBUSD,16838.88,16840.62,16837.08,16838.89,29.65812,5.93863724808259e-05,4.994134e+05,1097.0,13.95054,1671786300

# Make Dataframe From Binance Data

## Get Result and All the candlesticks from Ta-Lib

In [12]:
results = []
cols = []
for attr in dir(talib):
    if attr[:3]=='CDL':
#         print(getattr(talib, attr))
        res = getattr(talib, attr)(df['Open'], df['High'], df['Low'],
                                         df['Close'])
        results.append(res)
        cols.append(attr)
print(results)
print(cols)

[0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436    100
1437      0
1438      0
1439      0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435    100
1436      0
1437      0
1438      0
1439      0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438      0
1439    100
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438      0
1439   -100
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438   -100
1439      0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438   -100
1439      0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438      0
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438      0
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435    100
1436      0
1437      0
1438      0
1439      0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0         0
1         0
2         0
3         0
4         0
       ...
1435      0
1436      0
1437      0
1438    100
1439    100
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32, 0       0
1       0
2       0
3       0
4       0
       ..
1435    0
1436    0
1437    0
1438    0
1439    0
Length: 1440, dtype: int32]
['CDL2CROWS', 'CDL3BLACKCROWS', 'CDL3INSIDE', 'CDL3LINESTRIKE', 'CDL3OUTSIDE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDLABANDONEDBABY', 'CDLADVANCEBLOCK', 'CDLBELTHOLD', 'CDLBREAKAWAY', 'CDLCLOSINGMARUBOZU', 'CDLCONCEALBABYSWALL', 'CDLCOUNTERATTACK', 'CDLDARKCLOUDCOVER', 'CDLDOJI', 'CDLDOJISTAR', 'CDLDRAGONFLYDOJI', 'CDLENGULFING', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLGAPSIDESIDEWHITE', 'CDLGRAVESTONEDOJI', 'CDLHAMMER', 'CDLHANGINGMAN', 'CDLHARAMI', 'CDLHARAMICROSS', 'CDLHIGHWAVE', 'CDLHIKKAKE', 'CDLHIKKAKEMOD', 'CDLHOMINGPIGEON', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLINVERTEDHAMMER', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLLONGLEGGEDDOJI', 'CDLLONGLINE', 'CDLMARUBOZU', 'CDLMATCHINGLOW', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLPIERCING', 'CDLRICKSHAWMAN', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSHOOTINGSTAR', 'CDLSHORTLINE', 'CDLSPINNINGTOP', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLTAKURI', 'CDLTASUKIGAP', 'CDLTHRUSTING', 'CDLTRISTAR', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS']

## Frame all candle and add sum of the candle result

In [13]:
patterns = pd.DataFrame(results).T
patterns.columns = cols
patterns.astype(float)
patterns["Sum"] = patterns.sum(axis=1)
patterns

,CDL2CROWS,CDL3BLACKCROWS,CDL3INSIDE,CDL3LINESTRIKE,CDL3OUTSIDE,CDL3STARSINSOUTH,CDL3WHITESOLDIERS,CDLABANDONEDBABY,CDLADVANCEBLOCK,CDLBELTHOLD,...,CDLSTALLEDPATTERN,CDLSTICKSANDWICH,CDLTAKURI,CDLTASUKIGAP,CDLTHRUSTING,CDLTRISTAR,CDLUNIQUE3RIVER,CDLUPSIDEGAP2CROWS,CDLXSIDEGAP3METHODS,Sum
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,200
1436,0,0,0,0,0,0,0,0,0,100,...,0,0,0,0,0,0,0,0,0,100
1437,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1438,0,0,0,0,0,0,0,0,0,0,...,0,0,100,0,0,0,0,0,0,500
1439,0,0,0,0,0,0,0,0,0,0,...,0,0,100,0,0,0,0,0,0,900

## Saferate Numeracdata from dataframe

In [18]:
df = df.drop(['Symbol', 'Id', 'Time'], axis=1)

In [19]:
# df = df.iloc[:,0:10]
# x

## Combine two Dataframe

In [20]:
df = df.astype(float)

NameError: name 'patterns' is not defined

In [ ]:
df = df.add(patterns, fill_value=0)
df

## Make a plot to see the sum

In [ ]:
all_pats = patterns.sum(axis=1)
print(all_pats)
all_pats.plot()

## X paramiter for feeding Model

In [ ]:
X = df.drop(['Sum'], axis=1)
X

## Y paramiter for feedind Model

In [ ]:
y = df['Sum']
y

## Model for AI Research

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

model = DecisionTreeClassifier()
# model=RandomForestClassifier()
model

## Fit X and y data to model

In [ ]:
# model.fit(X, y)

## Calculating the Accuracy
### Normally I take very small data for that but in real application we have to take very big dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.1)

model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(predictions)
print(len(predictions))
accuracy_score(y_test, predictions)

## Export Train model

In [ ]:
import joblib
model = model.fit(X_train, y_train)
joblib.dump(model, "btcbusd_trand_predictor.joblib")

## Directally Grab Fidable data from internet but it have to be superviged test data from database

## Make Prediction With Train Model

In [ ]:
from dataframe import GetDataframe
symbol = "BTCBUSD"

df = GetDataframe().get_minute_data(symbol, 1, 5)
df = df.iloc[:,0:10]
df.astype(float)
# df = df.drop(columns=['symbol','VolumeBUSD', 'CloseTime'])
# df = df.iloc[0]
# print(df)
results = []
cols = []
for attr in dir(talib):
    if attr[:3]=='CDL':
#         print(getattr(talib, attr))
        res = getattr(talib, attr)(df['Open'], df['High'], df['Low'],
                                         df['Close'])
        results.append(res)
        cols.append(attr)
# print(results)
# print(cols)

patterns = pd.DataFrame(results).T
patterns.columns = cols
patterns.astype(float)
patterns["Sum"] = patterns.sum(axis=1)
patterns
df = df.add(patterns, fill_value=0)
df = df.drop(['CloseTime', 'Sum'], axis=1)
df = df.iloc[-2]
# print(df)
print(model.predict([df]))

In [ ]:
# print(df)

model = joblib.load("btcbusd_trand_predictor.joblib")
predictions = model.predict([df])
predictions

## All Coulms need for creat a Visual Representation

In [ ]:
feature_name = list(X.columns)

## Export model in dot visual language
class_names=sorted(y.unique()),

In [ ]:
from sklearn import tree
model = DecisionTreeClassifier()
model.fit(X, y)
tree.export_graphviz(model, out_file='btc_busd_visual.dot',
                    feature_names=feature_name,
                     label='all',
                     rounded=True,
                     filled=True
                    )

## Use Tensorflow

In [ ]:
import tensorflow as tf
model = tf.keras.models.Sequential()

In [ ]:
model.add(tf.keras.layers.Dense(256, input_shape=X_train.shape, activation='sigmoid'))
model.add(tf.keras.layers.Dense(256, activation='sigmoid'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# model.fit(X_train, y_train, epochs=1000)